@import 'globals';

@include react-md-everything;

body {
  margin: 0;
  padding: 0;
  font-family: 'Opena Sans', sans-serif;
}

p, div, span {
  font-family: 'Opena Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
